---
Language:        Cpp
BasedOnStyle:    LLVM
IndentWidth:     4
TabWidth:        4
UseTab:          Never
ColumnLimit:     100
BreakBeforeBraces: Allman
RemoveBracesLLVM: true
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AccessModifierOffset: -4
EmptyLineBeforeAccessModifier: LogicalBlock
NamespaceIndentation: All
FixNamespaceComments: false
IndentCaseLabels: false
AllowShortFunctionsOnASingleLine: None
BreakConstructorInitializers: BeforeColon
ConstructorInitializerIndentWidth: 4
PointerAlignment: Left
...